#seperator,
#post-a-job-message a ,
.suggestion-button{
  color: #ffffff;
  text-align: center;
  font-size: 1.2em
}

#post-a-job-message,
#suggestions{
    max-width: max-content;
    margin: 2em auto;
}

#suggestions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#post-a-job-message a:hover,
#post-a-job-message a:focus,
.suggestion-button:hover,
.suggestion-button:focus
{
    color: #2200bb;
    background-color: #ffffff;
}

#post-a-job-message a,
.suggestion-button{
    padding: 0.5em 2em;
    border: 2px solid #ffffff; 
    border-radius: 1em;
    text-decoration: none;
    margin: 0.1em;

    transition: background 0.5s linear;

}

#previous-posts-section{
    padding: 1em;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.75);
}

#previous-posts-section p{
    margin: 0;
}

#previous-posts{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#previous-posts li{
    padding: 0.25em;
    font-size: 1.2em;
}

a.previous-post-link{
    text-decoration: none;
    color: #2200bb;
}
a.previous-post-link:hover{
    text-decoration: underline;
}
