#seperator,
#post-a-job-message a {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em
}

#post-a-job-message{
    max-width: max-content;
    margin: 2em auto;    
}

#post-a-job-message a:hover,
#post-a-job-message a:focus
{
    color: #2200bb;
    background-color: #ffffff;
}

#post-a-job-message a{
    padding: 0.5em 2em;
    border: 2px solid #ffffff; 
    border-radius: 1em;
    text-decoration: none;
}
